source [find interface/raspberrypi5-swd.cfg]
transport select swd

set CHIPNAME stm32g0x
source [find target/stm32g0x.cfg]

# did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config  srst_nogate

adapter_nsrst_delay 100
adapter_nsrst_assert_width 100

init
targets
reset halt
program RCTF_TT_RX_REVA_G070CBx.elf verify
reset
shutdown
